<div class="masthead">
  <h1>Bitcrap</h1>
  <p>Pay a small amount of Bitcoin and receive a fun, surprise gift in the mail</p>
  <p>You won't know ahead of time what you are going to get. We try to make the gifts fun and entertaining</p>
</div>

<div class="featurette">

</div>

<div id="checkout" class="center-box">
  <%= form_for @order, remote: true, method: :post, :html => { multipart: true, role: 'form', class: 'checkout-form' } do |f| %>
    <div id="errors" class="errors"></div>
    <div class="amount-box">
      <div class="radio-buttons">
      <b class="radio-buttons-main-label">Amount: </b>
        <%= f.label :amount, '$1', value: 1 %>
        <%= f.radio_button :amount, 1 %>

        <%= f.label :amount, '$2', value: 2 %>
        <%= f.radio_button :amount, 2 %>

        <%= f.label :amount, '$5', value: 5 %>
        <%= f.radio_button :amount, 5, checked: true %>

        <%= f.label :amount, '$10', value: 10 %>
        <%= f.radio_button :amount, 10 %>
      </div>
    </div>
    <br/>

    <div class="form-group">
      <%= f.text_field :name, placeholder: 'Name', class: 'form-control'  %>
    </div>

    <div class="form-group">
      <%= f.text_field :email, placeholder: 'Email', class: 'form-control'  %>
    </div>
    <%= f.fields_for :shipping_address do |s| %>
      <div class="form-group">
        <%= s.text_field :address_line_1, placeholder: 'Address Line 1', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= s.text_field :address_line_2, placeholder: 'Address Line 2', class: 'form-control' %>
      </div>
      <div class="form-group form-inline">
        <%= s.text_field :city, placeholder: 'City', class: 'form-control' %>
        <%= s.select :state, options_for_select(us_states), { prompt: 'Select State' }, class: 'form-control' %>
        <%= s.text_field :zip_code, placeholder: 'Zip Code', prompt: 'State', class: 'form-control' %>
      </div>
    <% end %>
    <%= f.submit 'Submit', class: 'btn btn-primary center-box', data: { disable_with: 'Submitting...' } %>
  <% end %>
</div>