<div class="order-confirmation animation-slide-in-right">
  <h2 class="center-box">Order Confirmation:</h2>
  <table>
    <tr>
      <td class="table-label">Name:</td>
      <td class="table-data"><%= @order.name %></td>
    </tr>
    <tr>
      <td class="table-label">Email:</td>
      <td class="table-data"><%= @order.email %></td>
    </tr>
    <tr>
      <td class="table-label">Amount:</td>
      <td class="table-data"><%= @order.amount %></td>
    </tr>
    <tr>
      <td class="table-label">Address Line 1:</td>
      <td class="table-data"><%= @address.address_line_1 %></td>
    </tr>
    <tr>
      <td class="table-label">Address Line 2:</td>
      <td class="table-data"><%= @address.address_line_2 %></td>
    </tr>
    <tr>
      <td class="table-label">City:</td>
      <td class="table-data"><%= @address.city %></td>
    </tr>
    <tr>
      <td class="table-label">State:</td>
      <td class="table-data"><%= @address.state %></td>
    </tr>
    <tr>
      <td class="table-label">Zip Code:</td>
      <td class="table-data"><%= @address.zip_code %></td>
    </tr>
  </table>
  <%= link_to 'Pay with Bitcoin', @checkout.checkout_url, target: '_blank', class: "btn center-box animation-pulse-color" %>
  <%= link_to 'Start Over', '/', class: 'center-box start-over' %>
</div>