<!DOCTYPE html>
<html>
<head>
  <title>Bitcrap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="<%= image_path 'icon-24.png' %>" />
</head>
<body>
<div class="navbar">
</div>

<div class="container">
  <%= yield %>
  <div class="footer">
    &copy; 2014 &nbsp; <a href="http://alexleishman.com" class="underline">Alexander Leishman</a>
  </div>
</div>
</body>
</html>
