<!DOCTYPE html>
<html>
<head>
  <title>Bitcrap - The store of the future</title>
  <meta name="description" content="Buy random mail order gifts with Bitcoin.">
  <meta name=viewport content="width=device-width, initial-scale=1"
  <meta charset="utf-8">
  <%= stylesheet_link_tag'application', media: 'all' %>
  <%= javascript_include_tag 'application', async: true %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57678729-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
  <body>
    <div class="container outer-container">
      <div class="masthead">
        <div class="logo masthead-box">
          <a href="/"><h1 class="animation-hinge">Bitcrap</h1></a>
        </div>
        <%= image_tag 'btc_logo.svg', class: 'btc-logo', width: 40 %>

        <div class="tagline masthead-box">
          <h2 class="hide_mobile">The Store of the Future</h2>
          <div class="fb-like"
            data-href="https://bitcrap.com"
            data-layout="button" data-action="like"
            data-show-faces="false"
            data-share="false">
          </div>
        </div>
      </div>
      <div class="container inner-container">
        <%= yield %>
      </div>
      <div class="footer">
        &copy; 2014 &nbsp; Bitcrap</a>
      </div>
    </div>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '320404751483285',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>
